<html>
    <head>
        <link rel="stylesheet" href="/styles/style.css">
        <title>Mandeep</title>
        <link rel="icon" href="favicon.png" type="image/png">
        <script src="app.js"></script>
    </head>
    <body class="bg-gradient-to-b from-violet-950 to-violet-600 dark:from-slate-900 dark:to-slate-950 w-full text-white dark:text-slate-200">

    {{{body}}}

    </body>
</html>