{{> header}}

<!-- Parent container -->
    <div style="min-height: 80vh" class="content-container">   

        <!-- First container contains image -->
        <div class="p-4 mx-8 mt-4 md:mx-16 bg-zinc-100 rounded-sm flex flex-col flex-grow 
            md:flex-row-reverse justify-between items-center min-h-[50%] drop-shadow-md">
            <img src="me.jpg" class="h-[150px] drop-shadow-xl border-2 border-zinc-200 rounded-lg relative">
            <p class="flex flex-col pr-3 text-center md:text-start">
                <span class="text-xl md:text-3xl font-semibold">MANDEEP KUMAR</span>
                <span class="text-xs md:text-sm font-semibold text-slate-700 dark:text-slate-300">FULL STACK WEB DEVELOPER</span>
                <br>
                Recent graduate in BSC Applied Computer Science from University of Winnipeg
            </p>
        </div>
        <!-- First container ends here -->

        <!-- Second container begins -->
        <div class="p-4 mx-8 md:mx-16 bg-zinc-100 rounded-xl flex flex-col flex-grow 
                    md:p-6 mb-16 min-h-[40%] drop-shadow-lg">
            <p class="hidden md:block">
                I have a deep passion for technology and a perpetual eagerness to learn new things.
                Understanding user behavior and incorporating intuitive navigation and interaction patterns to enhance the overall user experience.
            </p>
            <div class="text-lg md:text-xl mt-5 md:mt-10 text-center flex flex-col items-center gap-2">
                <span class="text-sm">Let's join forces and create remarkable digital experiences that leave a lasting impact.</span>
                <a href="/contact" class="text-sm w-[120px] md:mt-2 px-2 py-1 border-2 border-indigo-500 dark:bg-slate-500 drop-shadow-lg hover:rounded-2xl hover:font-semibold hover:text-indigo-600 hover:dark:bg-slate-600">CONTACT ME</a>
            </div>
        </div>
        <!-- Second container ends here -->

{{> footer}}
</div>


