
{{> header}}

<div style="min-height: 80vh" class="content-container">

        <ul class="h-[92%] justify-start flex flex-col gap-2 flex-grow mx-8 mb-12 p-4 text-center text-lg md:mx-16 md:text-xl">
            <li class="outer-list-item">
                <a href="https://www.uwinnipeg.ca/" target="_blank" class="span-heading hover:text-blue-300 hover:underline">The University of Winnipeg</a>
                <ul class="flex flex-col flex-grow items-start p-2 rounded-b-md bg-slate-100 dark:bg-slate-500 text-indigo-500 dark:text-white text-sm md:text-lg md:flex md:justify-center md:gap-4 md:flex-wrap text-ellipsis overflow-hidden">
                    <li><span class="span-item">Major:</span> 
                        BSC in Applied Computer Science
                    </li>
                    <li><span class="span-item">Minor:</span>
                        Mathematics
                    </li>
                    <li><span class="span-item">Major GPA:</span>
                         3.531
                    </li>
         
                </ul>
            </li>

            <li class="outer-list-item">
                <span class="span-heading">Relevant Course Work</span>
                <div style="min-height: 40vh;" class="flex gap-2 p-4 overflow-x-auto bg-slate-100 dark:bg-slate-500 snap-x">
                <div class="w-full snap-center bg-slate-400 rounded-md">
                    Box1
                </div>
                <div class="w-full snap-center bg-slate-400 rounded-md">
                    Box2
                </div>
                <div class="w-full snap-center bg-slate-400 rounded-md">
                    Box3
                </div>
                <div class="w-full snap-center bg-slate-400 rounded-md">
                    Box4
                </div>
                <div class="w-full snap-center bg-slate-400 rounded-md">
                    Box5
                </div>
                <div class="w-full snap-center bg-slate-400 rounded-md">
                    Box6
                </div>
                <div class="w-full snap-center bg-slate-400 rounded-md">
                    Box7
                </div>
                <div class="w-full snap-center bg-slate-400 rounded-md">
                    Box8
                </div>
                <div class="w-full snap-center bg-slate-400 rounded-md">
                    Box9
                </div>
                <div class="w-full snap-center bg-slate-400 rounded-md">
                    Box10
                </div>
                </div>

            {{!-- </li>
                        <li class="outer-list-item">
                <span class="span-heading">Relevant Course Work</span>
                <ul class="flex flex-col gap-2 md:gap-0 p-2 md:list-disc md:pl-7 rounded-b-md bg-slate-100 dark:bg-slate-500 text-indigo-500 dark:text-white text-sm md:text-lg md:grid md:grid-cols-2 text-ellipsis overflow-hidden">
                    <li class="md:place-self-start">Object oriented programming(Java, Javascript, C#)</li>
                    <li class="md:place-self-start">Computer Architecture and System Software</li>
                    <li class="md:place-self-start">Data organization and Database</li>
                    <li class="md:place-self-start">Require Analysis and Design</li>
                    <li class="md:place-self-start">Full Stack Web design and Development</li>
                    <li class="md:place-self-start">HCI & Usability Testing</li>
                    <li class="md:place-self-start">Game Development</li>
                    <li class="md:place-self-start">Software Architecture & Design</li>
                </ul>
            </li>

            <li class="outer-list-item">
                <span class="span-heading">Post Secondary Education (2017-2019)</span>
                <ul class="flex flex-col flex-grow p-2 md:pl-8 rounded-b-md bg-slate-100 dark:bg-slate-500 text-indigo-500 dark:text-white text-sm md:text-lg text-ellipsis overflow-hidden">                   
                    <li>Mathematics</li>
                    <li>Chemistry</li>
                    <li>Physics</li>         
                </ul>
            </li> --}}
           
        </ul>
{{> footer}}
</div>

