
{{> header}}

<div class="content-container">

        <ul class="h-[92%] md:justify-start flex flex-col gap-2 flex-grow mx-8 mb-12 p-4 text-center text-lg md:mx-16 md:text-xl">
            <li class="outer-list-item">
                <a href="https://www.uwinnipeg.ca/" target="_blank" class="span-heading hover:text-blue-300 hover:underline">The University of Winnipeg</a>
                <ul class="flex flex-col flex-wrap items-start p-2 rounded-b-md bg-slate-100 dark:bg-slate-500 text-indigo-500 dark:text-white text-sm md:text-lg md:flex md:justify-center md:gap-4 md:flex-wrap text-ellipsis overflow-hidden">
                    <li ><span class="underline underline-offset-4 font-semibold">Major:</span> 
                        BSC Applied Computer Science (3 Year)
                    </li>
                    <li><span class="underline underline-offset-4 font-semibold">Minor:</span>
                        Mathematics
                    </li>
                    <li><span class="underline underline-offset-4 font-semibold">Major GPA:</span>
                         3.531
                    </li>
         
                </ul>
            </li>

            <li class="outer-list-item">
                <span class="span-heading">Relevant Course Work</span>
                <ul class="flex flex-col gap-2 md:gap-0 p-2 md:list-disc md:pl-7 rounded-b-md bg-slate-100 dark:bg-slate-500 text-indigo-500 dark:text-white text-sm md:text-lg md:grid md:grid-cols-2 text-ellipsis overflow-hidden">
                    <li class="md:place-self-start">Object oriented programming(Java, Javascript, C#)</li>
                    <li class="md:place-self-start">Computer Architecture and System Software</li>
                    <li class="md:place-self-start">Data organization and Database</li>
                    <li class="md:place-self-start">Require Analysis and Design</li>
                    <li class="md:place-self-start">Full Stack Web design and Development</li>
                    <li class="md:place-self-start">HCI & Usability Testing</li>
                    <li class="md:place-self-start">Game Development</li>
                    <li class="md:place-self-start">Software Architecture & Design</li>
                </ul>
            </li>

            <li class="outer-list-item">
                <span class="span-heading">Post Secondary Education (2017-2019)</span>
                <ul class="flex flex-col flex-wrap p-2 md:pl-8 rounded-b-md bg-slate-100 dark:bg-slate-500 text-indigo-500 dark:text-white text-sm md:text-lg text-ellipsis overflow-hidden">                   
                    <li>Mathematics</li>
                    <li>Chemistry</li>
                    <li>Physics</li>         
                </ul>
            </li>
           
        </ul>
{{> footer}}
</div>

