
{{> header}}

<div style="min-height: 80vh" class="content-container">

        <ul class="justify-start gap-6 flex flex-col flex-grow mx-8 mt-4 mb-12 p-4 text-center text-lg md:mx-16 md:text-xl">
            <li class="outer-list-item">
                <a href="https://www.uwinnipeg.ca/" target="_blank" class="span-heading hover:text-blue-300 hover:underline">The University of Winnipeg</a>
                <ul class="flex flex-col flex-grow items-start p-2 rounded-b-md bg-slate-100 dark:bg-slate-500 text-indigo-500 dark:text-white text-sm md:text-lg md:flex md:justify-center md:gap-4 md:flex-wrap text-ellipsis overflow-hidden">
                    <li><span class="span-item">Major:</span> 
                        BSC in Applied Computer Science
                    </li>
                    <li><span class="span-item">Minor:</span>
                        Mathematics
                    </li>
                    <li><span class="span-item">Major GPA:</span>
                         3.531
                    </li>
         
                </ul>
            </li>

            <li class="flex flex-col text-ellipsis overflow-hidden">
                <span class="span-heading">Relevant Course Work</span>
                <div style="max-height: 300px; overflow-x: auto;" class="flex gap-2 p-4 rounded-b-md bg-slate-100 dark:bg-slate-500 snap-x">
                    <div class="flex-shrink-0">
                        <div class="bg-indigo-400 rounded-md p-2" style="width: 200px;">
                            <img src="https://cdn.pixabay.com/photo/2017/04/23/19/30/earth-2254769_1280.jpg" style="width: 100%; height: 100%;" class="rounded-sm">
                        </div>
                    </div>
                    <div class="flex-shrink-0">
                        <div class="bg-indigo-400 rounded-md p-2 snap-start" style="width: 200px;">
                            <img src="https://cdn.pixabay.com/photo/2017/04/23/19/30/earth-2254769_1280.jpg" style="width: 100%; height: 100%;">
                        </div>
                    </div>
                    <div class="flex-shrink-0">
                        <div class="bg-indigo-400 rounded-md p-2 snap-start" style="width: 200px;">
                            <img src="https://cdn.pixabay.com/photo/2017/04/23/19/30/earth-2254769_1280.jpg" style="width: 100%; height: 100%;">
                        </div>
                    </div>
                    <div class="flex-shrink-0">
                        <div class="bg-indigo-400 rounded-md p-2 snap-start" style="width: 200px;">
                            <img src="https://cdn.pixabay.com/photo/2017/04/23/19/30/earth-2254769_1280.jpg" style="width: 100%; height: 100%;">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
{{> footer}}
</div>

