
{{> header}}

<div style="min-height: 80vh" class="content-container">

    <ul class="ul-list">
        <li class="outer-list-item">
            <span class="span-heading">Web Design and Development</span>
            <ul class="list-item">
                <li>MY PORTFOLIO</li>
                <a href="https://github.com/MandeepPaul/WebDev-Portfolio" target="_blank" 
                class="custom-button px-2">CODE</a>
            </ul>
        </li>
    </ul>

{{> footer}}
</div>

