
{{> header}}

<div style="min-height: 80vh" class="content-container">

    <ul class="ul-list">
        <li class="outer-list-item">
            <span class="span-heading">Web Design and Development</span>
            <ul class="list-item">
                <li>MY PORTFOLIO</li>
                <a href="https://github.com/MandeepPaul/WebDev-Portfolio" target="_blank" 
                class="border-2 border-indigo-500 px-2 dark:border-slate-200 hover:text-blue-400 
                hover:border-blue-400 hover:dark:border-blue-400">CODE</a>
            </ul>
        </li>
    </ul>

{{> footer}}
</div>

