
{{> header}}

   <div class="content-container">

        <ul class="ul-list">
            <li class="outer-list-item">
                <span class="span-heading">Programming Languages and Technologies</span>
                <ul class="list-item">
                    <li >Java</li>
                    <li>JavaScript</li>
                    <li>C#</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Node.js</li>
                    <li>Express.js</li>
                    <li>TailwindCSS</li>
                    <li>Handlebars</li>
                    <li>Assembly_Language</li>
                </ul>
            </li>
            <li class="outer-list-item">
                <span class="span-heading">Databases and Data Management</span>
                <ul class="list-item">
                    <li>MySQL</li>
                    <li>MongoDB</li>
                    <li>PostgreSQL</li>
                    <li>MS Access</li>
                </ul>
            </li>
            <li class="outer-list-item">
            <span class="span-heading">IDEs and Editors</span>
            <ul class="list-item">
                    <li>Visual Studio Code</li>
                    <li>Atom</li>
                    <li>Eclipse</li>
                </ul>
            </li>
            <li class="outer-list-item">
                <span class="span-heading">Version control and Collaboration</span>
                <ul class="list-item">
                    <li>Git</li>
                    <li>Guthub</li>
                    <li>Guthub_Pages</li>
                    <li>Microsoft Teams</li>
                </ul>
            </li>
            <li class="outer-list-item">
                <span class="span-heading">Design and Prototyping</span>
                <ul class="list-item">
                    <li>Figma</li>
                    <li>Balsamiq</li>
                    <li>Umlet</li>
                </ul> 
            </li>
            <li class="outer-list-item">
                <span class="span-heading">Game Engine</span>
                <ul class="list-item">
                    <li>Unity</li>
                </ul> 
            </li>
        </ul>

{{> footer}}
</div>

