
{{> header}}

   <div class="flex flex-col flex-grow relative my-2
    min-h-[80%] mx-[5%] md:ml-[15%] md:mr-[15%] 
    rounded-b-xl bg-indigo-400 drop-shadow-2xl dark:bg-slate-700">

        <ul class="h-[90%] md:justify-between flex flex-col gap-2 flex-grow mx-8 mb-12 p-4 text-center text-lg md:mx-16 bg-indigo-0 md:text-xl">
            <li class="flex flex-col text-ellipsis overflow-hidden">
                <span class="bg-indigo-500 dark:bg-slate-700 p-1 text-lg md:text-xl md:font-semibold rounded-t-md border-2 border-white dark:border-slate-400">Programming Languages and Technologies</span>
                <ul class="grid grid-cols-2 p-1 rounded-b-md bg-slate-100 dark:bg-gradient-to-b dark:from-slate-400 dark:to-slate-500  text-indigo-500 dark:text-white text-sm md:text-lg md:flex md:justify-center md:gap-4 md:flex-wrap">
                    <li >Java</li>
                    <li>JavaScript</li>
                    <li>C#</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Node.js</li>
                    <li>Express.js</li>
                    <li>TailwindCSS</li>
                    <li>Handlebars</li>
                    <li>Assembly_Language</li>
                </ul>
            </li>
            <li class="flex flex-col text-ellipsis overflow-hidden">
                <span class="bg-indigo-500 dark:bg-slate-700 p-1 text-lg md:text-xl md:font-semibold rounded-t-md border-2 border-white dark:border-slate-400">Databases and Data Management</span>
                <ul class="grid grid-cols-2 p-1 rounded-b-md bg-slate-100 dark:bg-gradient-to-b dark:from-slate-400 dark:to-slate-500  text-indigo-500 dark:text-white text-sm md:text-lg md:flex md:justify-center md:gap-4 md:flex-wrap">
                    <li>MySQL</li>
                    <li>MongoDB</li>
                    <li>PostgreSQL</li>
                    <li>MS Access</li>
                </ul>
            </li>
            <li class="flex flex-col text-ellipsis overflow-hidden">
            <span class="bg-indigo-500 dark:bg-slate-700 p-1 text-lg md:text-xl md:font-semibold rounded-t-md border-2 border-white dark:border-slate-400">IDEs and Editors</span>
            <ul class="p-1 rounded-b-md bg-slate-100 dark:bg-gradient-to-b dark:from-slate-400 dark:to-slate-500  text-indigo-500 dark:text-white text-sm md:text-lg md:flex md:justify-center md:gap-4 md:flex-wrap">
                    <li>Visual Studio Code</li>
                    <li>Atom</li>
                    <li>Eclipse</li>
                </ul>
            </li>
            <li class="flex flex-col text-ellipsis overflow-hidden">
                <span class="bg-indigo-500 dark:bg-slate-700 p-1 text-lg md:text-xl md:font-semibold rounded-t-md border-2 border-white dark:border-slate-400">Version control and Collaboration</span>
                <ul class="grid grid-cols-2 p-1 rounded-b-md bg-slate-100 dark:bg-gradient-to-b dark:from-slate-400 dark:to-slate-500  text-indigo-500 dark:text-white text-sm md:text-lg md:flex md:justify-center md:gap-4 md:flex-wrap">
                    <li>Git</li>
                    <li>Guthub</li>
                    <li>Guthub_Pages</li>
                    <li>Microsoft Teams</li>
                </ul>
            </li>
            <li class="flex flex-col text-ellipsis overflow-hidden">
                <span class="bg-indigo-500 dark:bg-slate-700 p-1 text-lg md:text-xl md:font-semibold rounded-t-md border-2 border-white dark:border-slate-400">Design and Prototyping</span>
                <ul class="p-1 rounded-b-md bg-slate-100 dark:bg-gradient-to-b dark:from-slate-400 dark:to-slate-500  text-indigo-500 dark:text-white text-sm md:text-lg md:flex md:justify-center md:gap-4 md:flex-wrap">
                    <li>Figma</li>
                    <li>Balsamiq</li>
                    <li>Umlet</li>
                </ul> 
            </li>
            <li class="flex flex-col text-ellipsis overflow-hidden">
                <span class="bg-indigo-500 dark:bg-slate-700 p-1 text-lg md:text-xl md:font-semibold rounded-t-md border-2 border-white dark:border-slate-400">Game Engine</span>
                <ul class="p-1 rounded-b-md bg-slate-100 dark:bg-gradient-to-b dark:from-slate-400 dark:to-slate-500 text-indigo-500 dark:text-white text-sm md:text-lg md:flex md:justify-center md:gap-4 md:flex-wrap">
                    <li>Unity</li>
                </ul> 
            </li>
        </ul>

{{> footer}}
</div>

