
{{> header}}

<div style="min-height: 80vh" class="content-container">

    <ul class="ul-list">
        {{#each skills-page}}
            <li class="outer-list-item">
                <span class="span-heading">{{title}}</span>
                <ul class="list-item">
                    {{#each skills}}
                            <li>{{.}}</li>
                    {{/each}}
                </ul>
            </li>
        {{/each}}
    </ul>

{{> footer}}
</div>

